body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-image: url('https://images.unsplash.com/photo-1596003906949-67221c37965c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80'); /* Ganti 'jumbotron.jpg' dengan sumber gambar jumbotron yang Anda inginkan */
  background-size: cover;
  background-position: center;
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

article {
  flex: 2;
  background-color: #f0f0f0;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

aside {
  flex: 1;
  background-color: #ffffff;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

aside img {
  max-width: 200px; /* Mengatur lebar maksimum gambar menjadi 300px */
}
